.top {
    background-color: #99e5ff;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0px;
    margin: 0px;
    border-bottom: 1px solid #000000;
}
.searchtools {
    padding: 8px;
    position: absolute;
    left: 180px;
}
.searchtext {
    width: 350px;
    height: 25px;
    font-size: 15px;
}
.seabut {
    width: 60px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.bottom {
    position: absolute;
    padding: 0px;
    padding-top: 4px;
    left: 0px;
    border-top: 1px solid #000000;
    background-color: #99e5ff;
    height: 30px;
    width: 100%;
}